/*version mobile */

@media (max-width: 780px){
  #home {
    margin-top: -1%;
  }

  #bands {
    display: none;
  }

  #video {
    margin-top: -7%;
    background-color:  #deefc7;
  }

  #form {
    background-color: #3e7a73;
    color: #000;
  }

  #navegation{
  display: none;
  }

  .menu-bar {
    width: 100%;
    text-align: left;
  }

 .btn-menu {
    display: block;
    padding: 4%;
  }

 a>i {
   float: right;
}
