/*version mobile */

@media (max-width: 780px){
  #home {
    margin-top: -1%;
    height: 200px;
  }

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #ff4500;
  }

  #bands {
    display: none;
  }

  #video {
    margin-top: -7%;
    background-color:  #deefc7;
  }

  #form {
    background-color: #3e7a73;
    color: #000;
  }

  #navegation{
  display: none;
  }

  .menu-bar {
    width: 100%;
    text-align: left;
    display: inline-block;
  }

 .btn-menu {
    display: block;
    padding: 4%;
  }

 a>i {
   float: right;
  }

  #footer{
    background-color:  #deefc7;
    color: #000;
    padding: 1%;
  }

}
